u03/DTD/asignaturas.dtd

<!ELEMENT asignaturas (asignatura+)>
<!ELEMENT asignatura (codigo, nom_asig, creditos, carrera+, curso, alumnos_matr*)>
<!ATTLIST asignatura tipo ID #REQUIRED>
<!ELEMENT codigo (#PCDATA)>
<!ELEMENT nom_asig (#PCDATA)>
<!ELEMENT creditos (#PCDATA)>
<!ELEMENT curso (#PCDATA)>
<!ELEMENT carrera (#PCDATA)>
<!ELEMENT alumnos_matr (#PCDATA)>
